pip-tools
bump2version
wheel
isort
black
flake8
tox
tox-conda
coverage
Sphinx~=3.2
sphinx_rtd_theme
sphinx-autodoc-typehints~=1.11
sphinx-prompt~=1.3
sphinx_substitution_extensions>=2020.09.30, <2021.12.00
twine
pytest
pytest-runner
plotly
numpy
pandas
