pip-tools
bump2version
wheel
isort
black
flake8
tox
tox-conda
coverage
Sphinx>=3.2
sphinx_rtd_theme
sphinx-autodoc-typehints
sphinx-prompt
sphinx_substitution_extensions>=2020.09.30, <2021.12.00
twine
pytest
pytest-runner
kaleido
plotly
psutil
numpy
pandas
